<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>My To-do List App</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/todos">To-do Lists</a></li>
            <li><a href="/tasks">All Tasks and Reminders</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
