{% extends "base_generic.html" %}
{% block content %}
<h2>Tasks and reminders</h2>
{% for task in task_list %}
    <div class="user">
        <h4>{{task}}</h4>
        <ul>
            <li>To-do List: {{task.task_todo}}</li>
            <li>Due: {{task.task_time}}</li>
            <li>Completed: {{task.task_completed}}</li>
        </ul>
        {% if task.task_reminder %}
            <p>
                Reminder:
                <ul>
                    <li>Date: {{task.task_reminder.reminder_time}}</li>
                    <li>Sound: {{task.task_reminder.reminder_sound}}</li>
                    <li>Vibrate: {{task.task_reminder.reminder_vibrate}}</li>
                </ul>
            </p>
        {% else %}
            <p>Reminder: No reminder</p>
        {% endif %}
        </br>
    </div>
{% endfor %}
{% endblock %}