{% extends "base_generic.html" %}
{% block content %}
<h2>To-do Lists:</h2>
{% for todo in todo_list %}
    <h3>List: {{todo}}</h3>
    <h4>Created: {{todo.todo_created}}</h4>
    <h4>Users:</h4>
    <ul>
        {% for user in todo.todo_users.all %}
            <li>
                <a href="/users/{{user.user_email}}">{{user}}</a>
            </li>
        {% endfor %}
    </ul>
    <h4>Tasks:</h4>
    <ul>
        {% for task in todo.task_set.all %}
            <li>
                <p>
                    {{task}}:
                    <ul>
                        <li>Due: {{task.task_time}}</li>
                        <li>Completed: {{task.task_completed}}</li>
                    </ul>
                </p>
                {% if task.task_reminder %}
                    <p>
                        Reminder:
                        <ul>
                            <li>Date: {{task.task_reminder.reminder_time}}</li>
                            <li>Sound: {{task.task_reminder.reminder_sound}}</li>
                            <li>Vibrate: {{task.task_reminder.reminder_vibrate}}</li>
                        </ul>
                    </p>
                {% else %}
                    <p>Reminder: No reminder</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</br>
{% endfor %}
{% endblock %}